# .env example

ROBOTSTXT=noindex
CONTENTFUL_SPACE=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_SETTINGS_ENTRY_ID=

# Endpoint for the /src/routes/posts/[id].svelte examples
PUBLIC_API_ENDPOINT=https://jsonplaceholder.typicode.com/